.two-column-layout {
  position: relative;
  display: flex;
  flex: 1 1 auto; 
  background-color: #FFF;
}

.two-column-layout__sidebar {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  width: 288px;
  overflow: auto;
  border-right: solid 1px var(--border-color);
}

.two-column-layout__sidebar-header {
  margin: 40px 24px 32px 24px;
  font-size: 32px;
  font-weight: 800;
  line-height: 1;
}

.two-column-layout__content {
  flex: 1;  
  position: relative;
  z-index: 1;
  height: 100%;
  margin-left: 288px;
  margin-right: 0;
  overflow: hidden;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: transform,margin-left,margin-right;
}